<div class="home-intro">
    <center><b><font size="+7">Home</font></b></center>
<br>    
    <ul>
            <b>Currently Learning Python & Programming:)</b>

            <li>You can check my work from the <b>Blog</b> page.</li>
            <li>Instagram:</li>
            <li>@yigitolcar</li>
            <li>@circuitboardofficial</li>
            <li>@bisusya._</li>
        </ul> 
        <ul> 
        <li>My Music/Album</li>

        <li><b><font size="+1">Will release on 20th February 2023</font></b></li>
    </ul>

        <div>
                <h6>Contact</h6>
                <p><a href="mailto:yigitolcar@gmail.com">yigitolcar@gmail.com</a></p>
        </div>
        
        </h3> 
</div> </div>

