<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
    <b>Interest</b>
        <ul>
            <li>Signal Processing</li>
            <li>Relation between musics and physics</li>
            <li>Harmonic Series</li>
            <li>Podcasts :) </li>
        </ul>   
    <b>Achievements</b>
            <ul>
        <li>Research and Science Center</li>
      <b><li>Music/Albums</li></ul></b>
    </ul>
    <b>Hobbies</b>
   <ul>
            <li>Music Production</li>
    <li>Mix/Mastering</li> 
   </ul>  
        </h3> 
</div> </div>

