<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
<br>    
    <ul>
            <b>Currently Learning Python & Programming:)</b>
            <font size="+1">
            <li>You can check my work from the <b>Blog</b> page.</li>
            <b><li>Instagram:</li></b>
            <li>@yigitolcar</li>
            <li>@circuitboardofficial</li>
            <li>@bisusya._</li>
        </font>
        </ul> 
        <ul> 
        <li>My Music/Album</li>

        <li><b><font size="+1">Will release on 20th February 2023</font></b></li>
    </ul>

        <div>
                <h6>Contact</h6>
                <p><a href="mailto:yigitolcar@gmail.com">yigitolcar@gmail.com</a></p>
            <br> 
                <p><a href="mailto:yigitolcar@musician.org">yigitolcar@gmail.com</a></p>
        </div>
        
        </h3> 
</div> </div>

